<!DOCTYPE html>
<html>
    <head>
        <title>E-Perpus</title>
        <link rel="stylesheet" href="~/Index.html">      
    </head>
    <body>
        @RenderBody()          
    </body>
    <script src="~/js/script.js">
        
    </script>
</html>